{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "ignore": [
    "**/*.test.js",
    "**/*.test.tsx"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
